
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Employee</h2>
<br>

<p> Id </p>
<h3> @Model.Id </h3>
<p> Name </p>
<h3> @Model.Name </h3>
<p> Address1 </p>
<h3> @Model.Address1 </h3>
<p> Address 2 </p>
<h3> @Model.Address2 </h3>
<p> City </p>
<h3> @Model.City </h3>
<p> State </p>
<h3> @Model.State </h3>
<p> Country </p>
<h3> @Model.Country </h3>
<p> Zipcode </p>
<h3> @Model.Zipcode </h3>
<p> Email </p>
<h3> @Model.Email </h3>


